@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        min-height: 100vh;
    }

    body {
        color: #0f1419;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
        font-family: 'Roboto',sans-serif;
    }

    textarea {
        background: transparent;
    }

    a {
        color: inherit;
    }

    html.dark .tooltip {
        color: white;
        background: rgba(240, 240, 240, .4);
    }

    .tooltip {
        position: absolute;
        bottom: -80%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 2px 4px;
        border-radius: 3px;
        font-size: .75rem;
        white-space: nowrap;
        pointer-events: none;
    }
}

@layer components {
    .active {
        @apply text-twitterBlue
    }
}
